

<divclass="row">
  <div class="col-xs-8"><h2>we'll put an awesome description of the project here when we're ready. We can use this site as a way to keep up to date with the instructors, and can direct the client to it so they can get a better idea of who we are and why we're obviously the most awesome team!</h2></div></div>