<h2>Team</h2>
<div><p>Eric Foard 59023135</p></div>

<div><p>Anton Uralev</p></div>

<div><p>Stephanie Seowon Choi</p></div>

<div><p>Jeff Yoon</p></div>

<div><p>????????????????????</p></div>

<div><p>????????????????????</p></div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name and SID</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>Eric Foard 59023135</tr>
  </tbody>
</table>


