<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
	<h1 align="left"><font color="white">CPSC 319 Project Page</h1></font>   
	 <nav>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Project Description", project_path %></li>
        <li><%= link_to "Team Members", members_path %></li>
        <li><%= link_to "Announcements", '#' %></li>
        <li><%= link_to "Resources", resources_path %></li>

      </ul>
    </nav>
  </div>
</header>